<style>

.mmm-timetable td {
  border: {{ config.borderWidth | safe }}px solid {{ config.borderColor | safe }};
}

.mmm-timetable .header {
    color: white;
    font-size: 2em;
}

.mmm-timetable span {
  display: block;
}

.mmm-timetable .contentCell {
  background: {{ config.cellColor | safe }};
}

.mmm-timetable .emptyCell {
  background: {{ config.emptyCellColor | safe }};
}

.mmm-timetable .titleCell {
  background: {{ config.titleCellColor | safe }};
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>

<div class="mmm-timetable">
  {% if config.header !== "" %}
  <div class="header">{{ config.header | safe }}</div>
  {% endif %}
  <table>
      {% for row in timeTable %}
      <tr>
          {% for cell in row.cells %}
          <td class="{{ utils.getCellType(cell, timeTable, config) }}">
              {% for text in cell.texts %}
              <span>{{ text | safe }}</span>
              {% endfor %}
          </td>
          {% endfor %}
      </tr>
      {% endfor %}
  </table>
</div>